extends layout

block content
  P
    |<br>
    |  WhitePineDev was founded in 2012 in the pursuit of creating a little bit of awesomeness on the internets.
    |<br>  
    |<br>
    |  Twitter: @whitepinedev 
    |<br>
    |<br>
    |  email: info@whitepinedev.com
    |<br>
    |<br>
    |<br>
    |Employees:
    |<br>
    |<br>
  div#photo
    p <img src="/images/Christen-Thompson.jpg" alt="Christen Thompson">

  div#bio
    p Christen Thompson <br><br>
      |I am the founder of WhitePineDev.  I was born in California raised all over the western United States. I love the outdoors and getting into the experience of "flow" 
      | while cycling, rockclimbing, programming and creating.  I have spent the last 10 years in the computer industry working in software and IT.
      | I have experience in python, server admin for windows, linux, cloud architecture in aws, some C# and .NET and lots of experience making things work.
      |<br>
      |<br>
      |Photo Blog: <a href="http://wisechicken.tumblr.com"> wisechicken.tumblr.com </a>
      |<br>
      |Technical Blog: <a href="http://wizechicken.tumblr.com/"> wizechicken.tumblr.com </a>
      |<br>
      |Contact: Christen@WhitePineDev.com