doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 <a href="/">WhitePineDev<a> <a href="/Projects">Projects</a> <a href="/blog">Blog</a> <a href="/About">About</a>
    div  
      block content

  footer
    p Made for www.whitepinedev.com