doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 <a href="/">WhitePineDev<a> <a href="/Projects">Projects</a> <a href="/blog">Blog</a> <a href="/About">About</a>

    div#main-border
      div#main-content  
        block content

  footer
    p Made with nodejs, express, jade and deployed on heroku.  <br> <a href="https://github.com/ChickenFur/whitepinedev_com">Source Code</a>  <br> email: info@whitepinedev.com <br> Twitter: @whitepinedev 