body {
  padding-left: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
footer {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: left;
}
#main-content {
  padding: 30px;
  background-color: LightGray;
  height: 620px;
  top: 0;
  float: center;
}
#inner-content {
  margin-left: 15%;
  margin-right: 15%;
}
#photo {
  float: left;
  padding: 8px;
  background-color: #303030;
}
#bio {
  font: 11px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-left: 100px;
  padding-left: 100px;
}
#project-sidebar {
  float: left;
}
#project-centerfold {
  padding-left: 120px;
}
#project-box {
  padding: 10px;
  height: 60px;
  width: 70px;
  border: solid #303030;
}
#articles {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
#articles .article {
  margin: 20px;
}
#articles .article .created_at {
  display: none;
}
#articles .article .title {
  font-weight: bold;
  text-decoration: underline;
  background-color: #eee;
}
#articles .article .body {
  background-color: #ffa;
}
