body {
  padding: 100px;
  margin-left: 10%;
  margin-right: 10%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div {
  background-color: LightGray;
  border-radius: 15px;
  width: 650px;
  height: 650px;
}
a {
  color: #00b7ff;
}
footer {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}
