body {
  padding-left: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#main-border {
  background-color: #303030;
  width: 650px;
  height: 650px;
  border: solid #000;
  border-radius: 40px;
}
#main-content {
  padding: 15px;
  background-color: LightGray;
  border-radius: 50px;
  width: 620px;
  height: 620px;
  top: 0;
  float: center;
}
#photo {
  float: left;
  padding: 8px;
  background-color: #303030;
}
#bio {
  font: 11px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-left: 100px;
}
#project-sidebar {
  float: left;
}
#project-centerfold {
  padding-left: 120px;
}
#project-box {
  padding: 10px;
  height: 60px;
  width: 70px;
  border: solid #000;
  border-radius: 15px;
}
a {
  color: #00b7ff;
}
footer {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: left;
}
